/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura el uso del 100% del alto */
}

h1 {
    color: #343a40;
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 500px;
    margin: auto; /* Centra el formulario */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    width: 100%;
    margin-bottom: 15px;
}

img#preview {
    display: block;
    margin: 0 auto 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

button, .btn-custom {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Elimina el subrayado */
    display: inline-block;
}

button:hover, .btn-custom:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.container {
    flex: 1; /* Empuja el footer al fondo */
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 100%;
}
